@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Larsseit';
  src: url('./fonts/Larsseit.ttf');
}

@font-face {
  font-family: 'Larsseit-Bold';
  src: url('./fonts/Larsseit-Bold.ttf');
}